{% extends 'base.html' %}

{% block title %}Categories{% endblock %}

{% block menu %}
    <a class="text-white text-center px-3" href="{% url 'webapp:main_categories_view' %}">На главную</a>
{% endblock %}

{% block content %}
    <h1 class="word text-center">Новостной портал. Разделы:</h1>
        {% for category in categories %}
            <div class="box float-sm-left article text-center">
                <a href="{% url 'webapp:category_view' category.pk %}">
                    <h5>№{{ category.pk }}. {{ category.title }}</h5></a><br>
    {#                   {% if perms.webapp.change_gallery  or gallery.author == request.user %}#}
                        <a href="{% url 'webapp:category_update' category.pk %}" ><button type="button"  class="btn btn-success">Update</button></a>
                        {#            {% endif %}#}
                        {#            {% if perms.webapp.delete_gallery or gallery.author == request.user  %}#}
                        <a href="{% url 'webapp:category_delete' category.pk %}" ><button type="button"  class="btn btn-danger">Delete. </button></a>
                        {#            {% endif %}#}
            </div>
        {% endfor %}
{% endblock %}