{% extends 'base.html' %}

{% block menu %}
<a class="text-white text-center px-3" href="{% url 'webapp:main_categories_view' %}">На главную</a>
{% endblock %}

{% block content %}
    <div class="box">
        <h4 class="pt-1 mt-1"><b>Тема: {{ category.title }}.</b>
{#            {% if perms.webapp.change_gallery  or gallery.author == request.user %}#}
            <a href="{% url 'webapp:category_update' category.pk %}" ><button type="button"  class="btn btn-success">Update</button></a>
{#            {% endif %}#}
{#            {% if perms.webapp.delete_gallery or gallery.author == request.user  %}#}
            <a href="{% url 'webapp:category_delete' category.pk %}" ><button type="button"  class="btn btn-danger">Delete. </button></a>
{#            {% endif %}#}
        </h4>
    </div>
    <h1 class="word text-center">Новости:</h1>
    {% for article in articles %}
        <div class="box float-sm-left article text-center">
                <a href="{% url 'webapp:article_view' article.pk %}">
                    <h5>№{{ article.pk }}. {{ article.title }}</h5></a><br>
    {#                   {% if perms.webapp.change_gallery  or gallery.author == request.user %}#}
                        <a href="{% url 'webapp:article_update' article.pk %}" ><button type="button"  class="btn btn-success">Update</button></a>
                        {#            {% endif %}#}
                        {#            {% if perms.webapp.delete_gallery or gallery.author == request.user  %}#}
                        <a href="{% url 'webapp:article_delete' article.pk %}" ><button type="button"  class="btn btn-danger">Delete. </button></a>
                        {#            {% endif %}#}
            </div>
    {% endfor %}

{% endblock %}
