
.error {
    font-weight: bold;
    color: red;
    margin-top: 2px;
}

.form_input {
    border-radius: 5px;
    border: solid 1px lightgray;
    background: gray;
    color: white;
    padding: 3px 5px;
}

.form_input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.form-error {
    border: solid 1px red;
    background: darkred;
}

.form-error:focus {
    box-shadow: 0 0 5px rgb(255, 0, 0);
}

.red {
    color: red;
    font-weight: bold;
}

.box {
    background-color: #f7f7f7 ;
    box-sizing: border-box;
    border: solid 1px gray;
    border-radius: 10px;
    padding: 10px;
}
 .article {
     width: 50%;
     height: 10%;
 }

a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.text-center {
    text-align: center;
}

.clear {
    clear: both;
}

.word {
    color: #f7f7f7;
    text-shadow: black 2px 0px, black 2px 1px, black 0px 3px, black -1px 1px, black -1px 0px,
    black -1px -1px, black 0px -1px, black 1px -1px;
    font-weight: bolder;
}

.table {
    display: table;
}

.cell{
    display: table-cell;
}