{% extends 'base.html' %}

{% block menu %}
    {% if user.is_authenticated %}
        <a class="text-white text-center px-3" href="{% url 'webapp:main_categories_view' %}">На главную</a>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="box">
        <h1 class="pt-1 mt-1"><b>Раздел: {{ main_category.title }}.</b>
            {% if perms.webapp.change_основная_категория %}
                <a href="{% url 'webapp:main_category_update' main_category.pk %}" ><button type="button"  class="btn btn-sm btn-success">Update</button></a>
            {% endif %}
            {% if perms.webapp.delete_основная_категория  %}
                <a href="{% url 'webapp:main_category_delete' main_category.pk %}" ><button type="button"  class="btn btn-sm btn-danger">Delete. </button></a>
            {% endif %}
        </h1>
    </div>
    <h1 class="word text-center">Темы:</h1>
    {% for category in categories %}
        <div class="box float-sm-left article text-center">
            <a href="{% url 'webapp:category_news' category.pk %}">
                <h5>№{{ category.pk }}. {{ category.title }}</h5></a>
                {% if perms.webapp.change_category %}
                    <a href="{% url 'webapp:category_update' category.pk %}" ><button type="button"  class="btn btn-sm btn-success">Update</button></a>
                {% endif %}
                {% if perms.webapp.delete_category %}
                    <a href="{% url 'webapp:category_delete' category.pk %}" ><button type="button"  class="btn btn-sm btn-danger">Delete. </button></a>
                {% endif %}
        </div>
    {% endfor %}

{% endblock %}