{% extends 'base.html' %}

{% block menu %}
    {% if user.is_authenticated %}
        <a class="text-white text-center px-3" href="{% url 'webapp:main_categories_view' %}">На главную</a>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="box">
        <h4 class="pt-1 mt-1"><b>Title: {{ article.title }}.</b>
            {% if perms.webapp.change_article %}
                <a href="{% url 'webapp:article_update' article.pk %}" ><button type="button"  class="btn btn-success btn-sm">Update</button></a>
            {% endif %}
            {% if perms.webapp.delete_article  %}
                <a href="{% url 'webapp:article_delete' article.pk %}" ><button type="button"  class="btn btn-danger btn-sm">Delete. </button></a>
            {% endif %}
        </h4>
        <div class="box clearfix">

            <h2 class="text-center">Description:</h2>
              {% if  article.image  %}
                <img class="float-sm-left m-2" src="{{ article.image.url }}" width="40%" height="40%" alt="Foto"><br>
            {% else %}
                <p>No Photo </p>
            {% endif %}
                {{ article.description | linebreaksbr}}
        </div>
    </div>
{% endblock %}